<div class="row">
    <div class=" col card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">DRUGS</div>
        <div class="card-body">
            <img src="../../../assets/coco/medicine (1).png" width="100px" alt="pharmacy">
        </div>
    </div>
    <div class="col card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header"> PHARMACIES</div>
        <div class="card-body">
            <!-- <h5 class="card-title">Info card title</h5> -->
            <img src="../../../assets/coco/pharmaceutical.png" width="100px" alt="pharmacy">
            <!-- <div class="card-text">All Branches Of xxx Pharmacy.</div> -->
        </div>
    </div>
    <div class="col card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">ORDERS</div>
        <div class="card-body">
            <img src="../../../assets/coco/box.png" width="100px" alt="pharmacy">

        </div>
    </div>
</div>

<div class="row">
    <div class="col card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">EMPLOYEES</div>
        <div class="card-body">
            <img src="../../../assets/coco/employee.png" width="100px" alt="pharmacy">

        </div>
    </div>
    <div class=" col card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">USERS</div>
        <div class="card-body">
            <img src="../../../assets/coco/officer.png" width="100px" alt="pharmacy">

        </div>
    </div>
    
    <div class="col card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">SUPPLIERS</div>
        <div class="card-body">
            <img src="../../../assets/coco/forklift.png" width="100px" alt="pharmacy">

        </div>
    </div>
</div>