<div class="card">
    <!-- <h5>ADDING ORDERS</h5> -->
    <p-tabView>

        <!-- <p-tabPanel header="OUT ORDER" leftIcon="pi pi-arrow-left" rightIcon="pi pi-inbox" tooltip="1974">
            <div class="col">
                <label class="labelstyle">Select Form Name</label>
                <select [(ngModel)]="ExistDrugs.id" name="Form" class="form-control">Profession
                  <option value="" selected disabled hidden>Form</option>
                  <option *ngFor="let the of ExistDrugs" value="{{the.id}}">{{the.name}}</option>
                </select>
              </div>
        </p-tabPanel> -->

        <p-tabPanel header="TRANSFER ORDER" leftIcon="pi pi-play" rightIcon="pi pi-pause" tooltip="1990">

            <div>
                <!-- <h5>Addons</h5> -->
                <div class="p-grid p-fluid row">
                    <div class="p-col-12 p-md-4">
                        <p-dropdown [options]="ExistDrugs" [(ngModel)]="selectedDrug" optionLabel="tradeName"
                            [filter]="true" [showClear]="true" placeholder="Select a Drug">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedDrug">
                                    <img src="http://localhost:51563/api/drugs/getImage/{{selectedDrug.img}}" alt=""
                                        [class]="'flag flag-' + selectedDrug.tradeName.toLowerCase()"
                                        style="width: 90px ;height: 50px;">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedDrug.tradeName.toLowerCase()" /> -->
                                    <div>{{selectedDrug.tradeName}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-item>
                                <div class="country-item">
                                    <!-- <img src="http://localhost:51563/api/drugs/getImage/{{item.img}}" [class]="'flag flag-' + country.tradeName.toLowerCase()" alt="">{{item.img}} -->
                                    <!-- <img src=""  /> -->
                                    <div>{{item.tradeName}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="p-col-10 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">$</span>
                            <input type="text" pInputText placeholder="Price" [(ngModel)]="orderDetailObj.price">
                            <span class="p-inputgroup-addon">.00</span>
                        </div>
                    </div>


                    <div class="p-col-12 p-md-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">%</span>
                            <input type="text" pInputText placeholder=" Quentity" [(ngModel)]="orderDetailObj.quentity">
                            <!-- <span class="p-inputgroup-addon">.00</span> -->
                        </div>
                    </div>
                    <!-- <input type="button" name="AddToList" id="AddToList" value="Add To List" class="btn btn-primary"
                        (click)="SaveToList()"> -->
                    <button class="btn btn-primary" (click)="SaveToList()"
                        style="width: 150px; height: 50px; margin-top: 23px;">Save Drug To List</button>
                </div>
            </div>

            <div class="row">
                <div class="p-field p-col-12 p-md-4">
                    <label for="basic">Exp_Date</label>
                    <p-calendar inputId="basic" [(ngModel)]="orderDetailObj.prod_Date"></p-calendar>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="basic">Prod_Date</label>
                    <p-calendar inputId="basic" [(ngModel)]="orderDetailObj.exp_Date"></p-calendar>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <label for="" style="color: rgb(180, 15, 15); font-size: 30px;">From</label>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="Pharmacy" value="Pharmacy" [(ngModel)]="selectedsource" (click)="eventForPharmacy()">
                        </p-radioButton>
                        <label for="city3" style="margin-left: 10px;">Pharmacy</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="Supplier" value="Supplier" [(ngModel)]="selectedsource">
                        </p-radioButton>
                        <label for="city4" style="margin-left: 10px;">Supplier</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="Pledge" value="Pledge" [(ngModel)]="selectedsource">
                        </p-radioButton>
                        <label for="Pledge" style="margin-left: 10px;">Pledge</label>
                    </div>
                </div>

                <div class="col">
                    <label for="" style="color: rgb(180, 15, 15); font-size: 30px;">To</label>

                    <div class="p-field-radiobutton">
                        <p-radioButton name="city" value="Pharmacy" [(ngModel)]="selectedTarget">
                        </p-radioButton>
                        <label for="city3" style="margin-left: 10px;">Pharmacy</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="city" value="Supplier" [(ngModel)]="selectedTarget">
                        </p-radioButton>
                        <label for="city4" style="margin-left: 10px;">Supplier</label>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="city" value="Pledge" [(ngModel)]="selectedTarget">
                        </p-radioButton>
                        <label for="city4" style="margin-left: 10px;">Pledge</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="width: 50%;">
                    <div class="col" *ngIf="selectedsource =='Pharmacy'">
                        <!-- <label class="labelstyle">Select Phrmacy Name</label>
                        <select [(ngModel)]="order.pharmacyID" name="pharmacy" class="form-control">
                            <option value="" selected disabled>The Name {{pharmacyName}}</option>
                            <option *ngFor="let thhe of pharmacy" value="{{thhe.id}}">{{thhe.name}}</option>
                        </select> -->
                        <div>{{pharmacyName}}</div>

                    </div>
                </div>
                <div class="col" *ngIf="selectedTarget =='Supplier'">
                    <label class="labelstyle">Select Supplier Name</label>
                    <select [(ngModel)]="order.supplierID" name="supplier" class="form-control">Profession
                        <option value="" selected disabled hidden>Supplier</option>
                        <option *ngFor="let thhe of supplier" value="{{thhe.id}}">{{thhe.name}}</option>
                    </select>
                </div>
            </div>

            <div class="p-grid p-fluid row">
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Order Code" [(ngModel)]="order.code">
                    </div>
                </div>

                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">#</span>
                        <input type="text" pInputText placeholder="Price" [(ngModel)]="order.number">
                        <span class="p-inputgroup-addon">.00</span>
                    </div>
                </div>

                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">../../</span>
                        <!-- <input type="text" pInputText placeholder="Order Date" [(ngModel)]=""> -->
                        <p-calendar inputId="basic" [(ngModel)]="order.date"></p-calendar>

                    </div>
                </div>
            </div>



            <!-- <div class="form-group col">
                <label for="number" class="labelstyle">Order Number</label>
                <input type="text" name="number" pKeyFilter="int" required min="1" id="number" class="form-control"
                    placeholder="Order Number" aria-describedby="helpId">

            </div> -->
            <div>
                <textarea rows="5" cols="30" pInputTextarea placeholder="Comments" [(ngModel)]="order.comments"
                    style="margin-bottom: 20px; width: 100%;"></textarea>
            </div>

            <!-- <input type="button"  value="Add" > -->
            <button (click)="saveOrderList()" class="btn btn-success">Save Order</button>

            <!-- <div class="p-field p-col-12 p-md-3">
                <label for="horizontal">Horizontal with Step</label>
                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="0.25"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency" currency="EUR">
                </p-inputNumber>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <label for="minmax-buttons">Min-Max Boundaries</label>
                <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100">
                </p-inputNumber>
            </div>
            <i class="pi pi-times" incrementButtonIcon="pi pi-plus"></i> -->
        </p-tabPanel>



        <p-tabPanel header="List Of Drugs" leftIcon="pi pi-user" rightIcon="pi pi-star" tooltip="1990">
            <p-table [value]="orderDetails">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Drugs
                        <p-button icon="pi pi-refresh"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Quentity</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Expire Date</th>
                        <th>Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.tradeName}}</td>
                        <td>{{product.quentity}}</td>
                        <td><img src="http://localhost:51563/api/drugs/getImage/{{product.img}}" [alt]="product.name"
                                width="100" class="p-shadow-4" /></td>
                        <td>{{product.price | currency:'USD'}}</td>
                        <td>{{product.prod_Date}}</td>


                        <!-- <td><p-rating  [readonly]="true" [cancel]="false"></p-rating></td> -->
                        <td>
                            <mat-icon color="primary" style="cursor: pointer;" pRipple class="ui-button-warning"
                                (click)="deleteDrugFromList(product)">
                                delete_outline</mat-icon>
                            <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
                            <!-- <button type="button" (click)="confirm1()" pButton icon="pi pi-check" label="Confirm"></button> -->
                            <!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
                        </td>
                        <!-- <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{orderDetails ? orderDetails.length : 0 }} products.
                    </div>
                </ng-template>
            </p-table>
        </p-tabPanel>




        <p-tabPanel header="List Of orderVM" leftIcon="pi pi-user" rightIcon="pi pi-star" tooltip="1990">
            <p-table [value]="orderVM">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-ai-center p-jc-between">
                       List Of Orders
                        <p-button icon="pi pi-refresh"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Quentity</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Expire Date</th>
                        <th>Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.listDetails}}</td>
                        
                        


                        <!-- <td><p-rating  [readonly]="true" [cancel]="false"></p-rating></td> -->
                       
                        <!-- <td><span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span></td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{orderVM ? orderVM.length : 0 }} products.
                    </div>
                </ng-template>
            </p-table>


        </p-tabPanel>





        

        <!-- <p-tabPanel header="LOSE ORDER2" leftIcon="pi pi-user" rightIcon="pi pi-star" tooltip="1990">
 
            <p-orderList [value]="orderDetails"  header="List of Order" dragdrop="false">
                <ng-template pTemplate="item" let-orderDetails>
                   <div>
                    {{orderDetailObj.price}}
                   </div>
                </ng-template>
            </p-orderList>
            

        </p-tabPanel> -->
    </p-tabView>
</div>