<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-5">
						<h2>Manage <b>Employees</b></h2>
					</div>
					<div class="col-sm-6">
						<a class="btn btn-warning" data-toggle="modal" (click)="showModalDialog()"
							style="color: rgb(61, 56, 56);"><i class="material-icons"> &#xE147;</i> <span>Add New
								Employee</span></a>
						<a class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
							<span>Delete</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<!-- <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th> -->
						<th>Name</th>
						<th>Email</th>
						<th>Address</th>
						<th>Phone</th>
						<th style="width: 150px;font-size: 18px;">Pharmacy Name</th>

						<!-- <th>Actions</th> -->
					</tr>
				</thead>
				<tbody *ngFor="let emp of employees">
					<tr>
						<!-- <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td> -->
						<td>{{emp.name}}</td>
						<td>{{emp.email}}</td>
						<td>{{emp.address}}</td>
						<td>{{emp.telephone}}</td>
						<td style="color: rgb(14, 177, 36); font-weight: bold;">{{emp.pharmacyName}}</td>
						<td>
							<a class="edit" data-toggle="modal" (click)="editBasicDialog(emp.id)"
								style="cursor: pointer;"><i class="material-icons" data-toggle="tooltip"
									title="Edit">&#xE254;</i></a>
							<a class="delete" data-toggle="modal" (click)=deleteOneEmp(emp.id)
								style="cursor: pointer;"><i class="material-icons" data-toggle="tooltip"
									title="Delete">&#xE872;</i></a>
							<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

						</td>
					</tr>
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->


<p-dialog header="" [(visible)]="displayModal" [style]="{width: '40vw'}" [baseZIndex]="100">
	<!-- <div class="p-grid p-fluid"> -->

	<h2 class="addempStyle">Add Employee</h2>

	<div class="modal-body">
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" required [(ngModel)]="employee.name">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" required [(ngModel)]="employee.email">
		</div>
		<div class="form-group">
			<label>Address</label>
			<textarea class="form-control" required [(ngModel)]="employee.address"></textarea>
		</div>
		<div class="form-group">
			<label>Phone</label>
			<input type="text" class="form-control" required [(ngModel)]="employee.telephone">
		</div>
		<div class="col" style="margin-left: 3px;">
			<label>Select Phrmacy Name</label>
			<select [(ngModel)]="employee.pharmacyID" name="pharmacy" class="form-control">
				<option value="" selected disabled hidden>firm</option>
				<option *ngFor="let thhe of pharmacy" value="{{thhe.id}}">{{thhe.name}}</option>
			</select>
		</div>
	</div>

	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
		<input type="submit" class="btn btn-info" value="Save" (click)="addNewEmployee()">
	</div>

</p-dialog>


<!-- Edit Modal HTML -->
<p-dialog header="" [(visible)]="displayBaic" [style]="{width: '40vw'}" [baseZIndex]="100">


	<div class="modal-header">
		<h4 class="modal-title">Edit Employee</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" required [(ngModel)]="employee.name">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" required [(ngModel)]="employee.email">
		</div>
		<div class="form-group">
			<label>Address</label>
			<textarea class="form-control" required [(ngModel)]="employee.address"></textarea>
		</div>
		<div class="form-group">
			<label>Phone</label>
			<input type="text" class="form-control" required [(ngModel)]="employee.telephone">
		</div>
		<div class="col" style="margin-left: 3px;">
			<label>Select Phrmacy Name</label>
			<select [(ngModel)]="employee.pharmacyID" name="pharmacy" class="form-control">
				<option value="" selected disabled hidden>firm</option>
				<option *ngFor="let thhe of pharmacy" value="{{thhe.id}}">{{thhe.name}}</option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" (click)="displayBaic=false">
		<input type="submit" class="btn btn-info" value="Save" (click)="editEmp()">
	</div>

</p-dialog>

<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Delete Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>