<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-table class="container" #dt [value]="subCategories" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','country.name','representative.name','status']">
    <ng-template pTemplate="caption">
        <div class="table-header">


            <!-- <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                </span> -->

            <!-- <button type="button" [disabled]="" class="btn btn-primary" routerLink="/adddrug" (click)="dialogAddNewCategory()">AddNew Category</button> -->
            <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Add SubCategory"></p-button>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="color: black; font-size: large;" pSortableColumn="name">Name<p-sortIcon field="name">
                </p-sortIcon>
            </th>
            <th style="color: black; font-size: large;" pSortableColumn="nameAR">Name Ar<p-sortIcon field="nameAR">
                </p-sortIcon>
            </th>
            <th style="color: black; font-size: large;" pSortableColumn="description">Description<p-sortIcon
                    field="description"></p-sortIcon>
            </th>
            <th style="color: black; font-size: large;">descriptionAR</th>
            <th style="color: black; font-size: large;">Edit</th>
            <th style="color: black; font-size: large;">Delete</th>
        </tr>
        <tr>
            <th>
                <input pInputText style="font-size: 12px; width: 110px;" type="text"
                    (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Search by name"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="font-size: 12px; width: 120px;" type="text"
                    (input)="dt.filter($event.target.value, 'nameAR', 'startsWith')" placeholder="Search by nameAR"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="font-size: 12px; width: 120px;" type="text"
                    (input)="dt.filter($event.target.value, 'description', 'startsWith')"
                    placeholder="Search by description" class="p-column-filter">
            </th>
            <th>
                <input pInputText style="font-size: 12px; width: 120px;" type="text"
                    (input)="dt.filter($event.target.value, 'descriptionAR', 'startsWith')"
                    placeholder="Search by descriptionAR" class="p-column-filter">
            </th>
            <th>
                <span style="font-size: 12px; width: 120px;" type="text"></span>
            </th>
            <th>
                <span style="font-size: 12px; width: 120px;" type="text"></span>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-subCategory>
        <tr>
            <td>
                {{subCategory.name}}
            </td>
            <td>
                {{subCategory.nameAR}}
            </td>
            <td>
                {{subCategory.description}}

            </td>
            <td>
                {{subCategory.descriptionAR}}
            </td>

            <td>
                <mat-icon color="warn" style="cursor: pointer;" (click)="editModalDialog(subCategory.id)">launch
                </mat-icon>
            </td>
            <td>
                <mat-icon color="primary" style="cursor: pointer;" pRipple class="ui-button-warning"
                    (click)="confirm(subCategory.id)">delete_outline</mat-icon>
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">No drugs found.</td>
        </tr>
    </ng-template>
</p-table>


<!-- Add sub Category Dialog -->


<p-dialog header="" [(visible)]="displayModal" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="p-grid p-fluid">
        <h1 style="color: crimson; margin-left: 30px;">ADD SUB CATEGORY</h1>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" [(ngModel)]="subCategory.name" pInputText placeholder="Name English">
            </div>
        </div>

        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">AR</span>
                <input type="text" pInputText placeholder="Name Arabic" [(ngModel)]="subCategory.nameAR">
                <!-- <span class="p-inputgroup-addon">.00</span>       -->
            </div>
        </div>

        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Description Eng" [(ngModel)]="subCategory.description">
            </div>
        </div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">

                <span class="p-inputgroup-addon">AR</span>
                <input type="text" pInputText placeholder="Description Ar" [(ngModel)]="subCategory.descriptionAR">
            </div>
        </div>
        <!-- <div class="p-field p-col-12 p-md-4">
            <p-dropdown inputId="state" [options]="theraSubGroup" [(ngModel)]="subCategory.theraSubID" placeholder="Select Category" optionLabel="name"></p-dropdown>
        </div> -->
        <div class= "p-col-12 p-md-4 dropdown">
            <!-- <label>Select Form TheraSub</label>{{subCategory.theraSubID}} -->
            <select [(ngModel)]="subCategory.theraSubID" name="theraSubID" 
                class="form-control">Category
                <option hidden [value]="" selected>Select Thera Sub </option>
                <option *ngFor="let the of theraSubGroup" value="{{the.id}}">{{the.name}}</option>
            </select>
        </div>
        <!-- <div class="p-field p-col-12 p-md-4">
            <p-dropdown inputId="state" [options]="categories" [(ngModel)]="subCategory.categoryID" placeholder="Select TheraSub Group" optionLabel="name"></p-dropdown>
        </div> 
        -->
        <div class="p-col-12 p-md-4 dropdown">

        <!-- <label>Select Form category</label>{{subCategory.categoryID}} -->
        <select [(ngModel)]="subCategory.categoryID" name="categoryID" class="form-control">Category
            <option hidden [value]="" selected>Select one category </option>
            <option *ngFor="let the of categories" value="{{the.id}}">{{the.name}}</option>
        </select>
    </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="addNewSubCategory()" label="Yes" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
    </ng-template>
</p-dialog>



<!-- Edit sub Category Dialog -->

<p-dialog header="" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" [(ngModel)]="subCategory.name" pInputText placeholder="Name English">
            </div>
        </div>

        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">AR</span>
                <input type="text" pInputText placeholder="Name Arabic" [(ngModel)]="subCategory.nameAR">
            </div>
        </div>

        <label>Select Form TheraSub</label>{{subCategory.categoryID}}
        <select [(ngModel)]="subCategory.theraSubID" name="theraSubID" style="width: 50%;" class="form-control">Category
            <option value="" selected disabled hidden>Form</option>
            <option *ngFor="let the of theraSubGroup" value="{{the.id}}">{{the.name}}</option>
        </select>
        <!-- <div class="p-field p-col-12 p-md-4">
            <p-dropdown inputId="state" [options]="categories" [(ngModel)]="subCategory.categoryID" placeholder="Select TheraSub Group" optionLabel="name"></p-dropdown>
        </div> 
        -->

        <label>Select Form category</label>{{subCategory.categoryID}}
        <select [(ngModel)]="subCategory.categoryID" name="categoryID" style="width: 50%;" class="form-control">Category
            <option value="" selected disabled hidden>Form</option>
            <option *ngFor="let the of categories" value="{{the.id}}">{{the.name}}</option>
        </select>

        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>

                <input type="text" pInputText placeholder="Description Eng" [(ngModel)]="subCategory.description">
            </div>
        </div>

        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">

                <span class="p-inputgroup-addon">AR</span>
                <input type="text" pInputText placeholder="Description Ar" [(ngModel)]="subCategory.descriptionAR">
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="EditCategory(subCategory.id)" label="Yes" styleClass="p-button-text">
        </p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
    </ng-template>
</p-dialog>